/***** MAIN HEADER *****/

.filter-button-group > li > .active {
  background-color: #42a4f5;
  color: white;
}

.filter-button-group > li > button {
  background-color: white;
}

.hide {
  display: none;
}

@media (min-width: 768px) {
  .card {
    max-width: calc(100% / 3);
  }
}
